<div>Player Details</div>
<form name="playerForm" ng-submit="submitForm(playerForm.$valid)" novalidate>     
    <!-- name -->
    <div class="form-group" ng-class="{ 'has-danger' : playerForm.name.$invalid && !playerForm.name.$pristine }">
        <label>Name</label>
        <input type="text" name="name" class="form-control" ng-model="player.name" required>        
        <p ng-show="playerForm.name.$invalid && !playerForm.name.$pristine" 
                class="help-block" ng-show="playerForm.name.$touched">You name is required.
        </p>        
    </div>
    <!-- display name -->
    <div class="form-group" ng-class="{ 'has-danger' : playerForm.username.$invalid && !playerForm.username.$pristine }">
        <label>Nick Name</label>
        <input type="text" name="nickname" class="form-control" ng-model="player.nickname" 
        ng-minlength="3" ng-maxlength="15">
        <!-- <p ng-show="playerForm.nickname.$error.minlength" class="help-block">Nick Name is too short.</p>
        <p ng-show="playerForm.nickname.$error.maxlength" class="help-block">Nick Name is too long.</p> -->

        <div ng-messages="playerForm.nickname.$invalid && !playerForm.nickname.$pristine
                          && playerForm.nickname.$error">
            <p ng-message="minlength">Your name is too short.</p>
            <p ng-message="maxlength">Your name is too long.</p>
            <p ng-message="required">Your name is required.</p>
        </div>
    </div>
    <!-- email -->
    <div class="form-group" ng-class="{ 'has-danger' : playerForm.email.$invalid && !playerForm.email.$pristine }"></div>
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="player.email">
        <p ng-show="playerForm.email.$invalid && !playerForm.email.$pristine" class="help-block">Enter a valid email.</p>
    </div>

    <div class="form-group">
        <label>Team</label>
        <input type="select" name="team" class="form-control" ng-model="player.team">
    </div>
    <!-- SUBMIT BUTTON -->
    <!-- ng-disabled="playerForm.$invalid" -->
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>